* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* あると便利なもの */

/* @font-face {
  font-family: "utsukushi";
  src: url("../fonts/UtsukushiFONT.otf");
  font-weight: "100";
} */

@font-face {
  font-family: "utsu";
  src: url("../fonts/UtsukushiFONT.otf");
}

:root {
  --maingreen: #dcede7;
}
/* これやると color: var(--maingray);で通るし一遍に色変えれるから地味に便利 */

body {
  background-color: var(--maingreen);
  font-family: "utsu";
}

a.anchor {
  display: block;
  padding-top: 600px;
  margin-top: -600px;
}

.first-view-wrap {
  width: 100%;
  height: 100%;
  margin-bottom: 25%;
  position: relative;
}
.header-picture-wrap img {
  width: 100%;
}

.header-title-s {
  margin: 0 auto;
}

.header-title-img-wrap {
  width: 42vw;
  position: absolute;
  top: 4vw;
  left: 9vw;
}

.header-title-img-wrap img {
  width: 100%;
}

.header-title {
  writing-mode: vertical-rl;
  position: absolute;
  top: 9vw;
  left: 17%;
  color: #dcede7;
  font-size: 5vw;
  line-height: 1.5;
}

.header-exp {
  position: absolute;
  top: 9vw;
  right: 10%;
  text-align: right;
  font-size: 2vw;
  color: #dcede7;
}

.header-exp-s {
  width: 100%;
  position: absolute;
  top: 40vw;
}
.header-picture-exp-wrap img {
  width: 100%;
}

.contents-wrap {
  position: relative;
  height: 40vw;
  top: 100px;
  bottom: 100px;
  margin-bottom: 50%;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.cw-caption1 {
  background-image: url("../picture&photo/芳川屋説明背景.png");
  background-size: contain;
  padding: 9vw 11vw;
  background-repeat: no-repeat;
  position: absolute;
  right: 9vw;
  width: 47vw;
  height: 26vw;
  color: #dcede7;
}

.cw-caption2 {
  background-image: url("../picture&photo/ホンマチコーヒー説明背景.png");
  background-size: contain;
  padding: 6vw 6vw;
  background-repeat: no-repeat;
  position: absolute;
  left: 17vw;
  width: 47vw;
  height: 27vw;
  color: #dcede7;
}
.cw-caption3 {
  background-image: url("../picture&photo/YR-CAFE説明背景.png");
  background-size: contain;
  padding: 6vw 9vw;
  background-repeat: no-repeat;
  position: absolute;
  right: 9vw;
  top: 4vw;
  width: 47vw;
  height: 26vw;
  color: #dcede7;
}
.cw-caption4 {
  background-image: url("../picture&photo/本町茶寮説明背景.png");
  background-size: contain;
  padding: 8vw 19vw 12vw 7vw;
  background-repeat: no-repeat;
  position: absolute;
  left: 16vw;
  width: 51vw;
  height: 32vw;
  color: #dcede7;
}
.cw-caption5 {
  background-image: url("../picture&photo//三光稲荷神社説明背景.png");
  background-size: contain;
  padding: 7vw 10vw;
  background-repeat: no-repeat;
  position: absolute;
  right: 8vw;
  width: 47vw;
  height: 26vw;
  color: #dcede7;
}
.cw-caption6 {
  background-image: url(../picture&photo/犬山城説明背景.png);
  background-size: contain;
  padding: 10vw 12vw;
  background-repeat: no-repeat;
  position: absolute;
  top: 5vw;
  left: 9vw;
  width: 60vw;
  height: 32vw;
  color: #dcede7;
}

h3 {
  color: #dcede7;
  margin-bottom: 16px;
  font-size: 2.5vw;
}

.contents-wrap p {
  font-size: 1.8vw;
  color: #dcede7;
  width: 25vw;
}

.cw-img {
  width: 38vw;
  position: absolute;
  z-index: 60;
}

.cw-img1 {
  left: 14vw;
}

.cw-img2 {
  width: 37vw;
  right: 14vw;
  top: 2vw;
}

.cw-img3 {
  left: 14vw;
}

.cw-img4 {
  right: 13vw;
  top: 6vw;
}

.cw-img5 {
  left: 14vw;
}
.cw-img6 {
  right: 14vw;
}

.cw-img img {
  width: 100%;
}
.cw-back {
  width: 50vw;
}
.cw-back img {
  position: absolute;
  width: 50vw;
  right: 17vw;
}

.map {
  position: relative;
  width: 100%;
  margin-top: 31vw;
  text-align: center;
  margin-bottom: -11vw;
  margin-right: 0%;
}

.map-title {
  background-image: url(../picture&photo/地図.png);
    background-size: contain;
    padding: 4vw 44vw;
    background-repeat: no-repeat;
    font-size: 4vw;
    width: 100%;
    height: 63vw;
    color: #dcede7;
    background-position: center;
  }


footer {
  width: 100%;
  position: relative;
}
.footer-back img {
  margin-top: 20vw;
  position: absolute;
  width: 100%;
}
.footer-caption {
  width: 100%;
  position: absolute;
  z-index: 28;
}
.footer-caption h4 {
  position: absolute;
  z-index: 30;
  top: 37vw;
  left: 6vw;
  bottom: 10vw;
  font-size: 4vw;
  color: #dcede7;
}

.footer-caption p {
  position: absolute;
  z-index: 30;
  right: 10vw;
  top: 40vw;
  font-size: 2vw;
  color: #dcede7;
}

.to-1 {
  position: absolute;
  width: 100%;
  z-index: 30;
  right: 40vw;
  font-size: 2vw;
}
.to-2 {
  position: absolute;
  width: 100%;
  z-index: 30;
  right: 18vw;
  font-size: 2vw;
}
.to-3 {
  position: absolute;
  width: 100%;
  z-index: 30;
  right: 7vw;
  font-size: 2vw;
}
.to-4 {
  position: absolute;
  width: 100%;
  z-index: 30;
  right: 35vw;
  top: 4vw;
  font-size: 2vw;
}
.to-5 {
  position: absolute;
  width: 100%;
  z-index: 30;
  right: 19vw;
  top: 4vw;
  font-size: 2vw;
}
.to-6 {
  position: absolute;
  width: 100%;
  z-index: 30;
  right: 10vw;
  top: 4vw;
  font-size: 2vw;
}
.btn-open {
  position: fixed;
  width: 69vw;
  height: auto;
  bottom: 50vh;
  width: 100%;
}
.btn-open img {
  position: fixed;
    width: 10vh;
    bottom: 50vh;
    right: 0px;
  z-index: 89;
}

.btn-caption {
  color: #dcede7;
  writing-mode: vertical-rl;
  position: fixed;
  right: 3vh;
  bottom: 52vh;
  font-size: 2.5vh;
  z-index: 88;
}


.popup {
  background-color: rgba(255, 187, 131, 0.9);
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
   
    z-index: 90;
}

#popup-on{
  display: none;
}

#popup-on:checked + .popup{
  display: flex;
}




.popup-content{
  width: 100vw;
}
.popup-back img{
  position: absolute;
  width: 100vw;
  height: 60vh;
  margin: 5vh 0 0 0;
  z-index: 90;
}

.popup-content img{
  width: 100vw;
}
.menu-imgs{
  left: 20vw;
}



 .effect-fade {
  opacity : 0;
  transform : translate(0, 30vw);
  transition : all 400ms;
  }
  
  .effect-fade.effect-scroll {
  opacity : 1;
  transform : translate(0, 0);
  }

  .effect-fade1 {
    opacity : 0;
    transform : translate(0, 30vw);
    transition : all 600ms;
    }

  .effect-fade2 {
    opacity : 0;
    transform : translate(0, 30vw);
    transition : all 700ms;
    }
    
/* これより大きい時 */
    @media screen and (min-width: 600px) {
      .menu-imgs {
        text-align:  center;  
        margin-top: 50px; 
    }
      .menu-imgs img{
        max-width: 300px;
        z-index: 99;
      }
      
      .menu-yoshi img{
       margin: 6px;
       width: 32vw;
      }
      .menu-coffee img{
    margin: 6px;
    width: 20vw;
    /* max-width: 19vw; */
    min-width: 220px;
       }
       .menu-YR img{
        margin: 6px;
        width: 32vw;
       }
       .menu-saryo img{
        margin: 6px;
        width: 32vw;
       }
       .menu-jinja img{
        margin: 6px;
        width: 32vw;
       }
       .menu-inuyamajo img{
        margin: 6px;
        width: 32vw;
       }
    }
/* これより小さい時 */
    @media screen and (max-width: 600px) {

      .menu-imgs {
        text-align:  center;  
        margin-top: 10vh; 
    }

      .menu-imgs img{
        max-width: 300px;
        width: 40vw;
        z-index: 99;
      }
      
      .menu-yoshi img{
       margin: 6px;
       width: 32vw;
      }
      .menu-coffee img{
        margin: 6px;
        width: 28vw;
       }
       .menu-YR img{
        margin: 6px;
        width: 32vw;
       }
       .menu-saryo img{
        margin: 6px;
        width: 32vw;
       }
       .menu-jinja img{
        margin: 6px;
        width: 32vw;
       }
       .menu-inuyamajo img{
        margin: 6px;
        width: 32vw;
       }
    }



    